<div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto gradient-link text-decoration-none">
      <span class="fs-4">Menu</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a class="nav-link gradient-link" [routerLink]="['/dashboard']">
          <i class="material-icons">dashboard</i>
          Dashboard
        </a>
      </li>
      <li>
        <a class="nav-link gradient-link" [routerLink]="['/device-control']">
          <i class="material-icons">devices</i>
          Device Control
        </a>
      </li>
      <li>
        <a class="nav-link gradient-link" [routerLink]="['/settings']">
          <i class="material-icons">settings</i>
          Settings
        </a>
      </li>
    </ul>
    <hr>
  </div>
  